server:
  port: 8085
spring:
  application:
    name: notes-rest
  datasource:
    url: jdbc:h2:tcp://localhost/~/notesdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  flyway:
    enabled: true